@font-face {
  font-family: 'SpaceMonoBold';
  src: url('./fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face{
    font-family: 'LexendDeca';
    src: url('./fonts/LexendDeca-Regular.ttf') format('truetype');
    font-weight: 400;
}