@import url('_fonts.scss');

$font-heading: 'SpaceMonoBold';
$font-body: 'LexendDeca';


$color-yellow: #FCB72B;
$color-dark-navy: #495567;
$color-dim-grey: #939CAA;
$color-light-grey: #E5ECF4;
$color-snow: #F2F5F9;
$color-light-yellow: #FFF4DF;
$color-footer: #333A44;
$color-white: #fff;
$color-hero-overlay: rgba(36, 45, 82, 0.75);

$h1-size: 56px;
$h2-size: 48px;
$h3-size: 40px;
$h4-size: 24px;
$textmain-size:15px;

$h1-line:56px;
$h2h3-line: 48px;
$h4-line: 28px;
$textmain-line: 25px;

$h1-spacing:-2.5px;
$h2-spacing:-2.14px;
$h3-spacing:-1.79px;
$h4-spacing:-1.07px;
