@use "./variables" as v;
@use "./mixins";

body {
    background-color: v.$bg;
    margin: 0;
    overflow-x: hidden;
}

.page-logo {
    font-family: v.$font-main;
    font-size: 48px;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 40px;
    color: v.$text-light;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.gallery {
    display: flex;
    justify-content: center;
    padding: v.$gap;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 160px);
        grid-auto-rows: 50px;
        gap: v.$gap;
    }

    &__item {
    border-radius: v.$border-radius;
    overflow: hidden;
    @include mixins.img-cover;
    transition: 0.3s;

    &:hover {
        transform: scale(1.2);
        filter: brightness(1.1);
    }

    &--1  { background-image: url(../img/1.jpg);  grid-row: span 2; }
    &--2  { background-image: url(../img/2.jpg);  grid-row: span 3; }
    &--3  { background-image: url(../img/3.jpg);  grid-row: span 2; }
    &--4  { background-image: url(../img/4.jpg);  grid-row: span 3; }

    &--5  { background-image: url(../img/5.jpg);  grid-row: span 4; }
    &--6  { background-image: url(../img/6.jpg);  grid-row: span 2; }
    &--7  { background-image: url(../img/7.jpg);  grid-row: span 3; }
    &--8  { background-image: url(../img/8.jpg);  grid-row: span 2; }

    &--9  { background-image: url(../img/9.jpg);  grid-row: span 2; }
    &--10 { background-image: url(../img/10.jpg); grid-row: span 4; }
    &--11 { background-image: url(../img/11.jpg); grid-row: span 3; }
    &--12 { background-image: url(../img/12.jpg); grid-row: span 4; }

    &--13 { background-image: url(../img/13.jpg); grid-row: span 2; }
    &--14 { background-image: url(../img/14.jpg); grid-row: span 3; }
    &--15 { background-image: url(../img/15.jpg); grid-row: span 2; }
    &--16 { background-image: url(../img/16.jpg); grid-row: span 3; }

    &--17 { background-image: url(../img/17.jpg); grid-row: span 4; }
    &--18 { background-image: url(../img/18.jpg); grid-row: span 2; }
    &--19 { background-image: url(../img/19.jpg); grid-row: span 4; }
    &--20 { background-image: url(../img/20.jpg); grid-row: span 2; }

    &--21 { background-image: url(../img/21.jpg); grid-row: span 3; }
    &--22 { background-image: url(../img/22.jpg); grid-row: span 2; }
    &--23 { background-image: url(../img/23.jpg); grid-row: span 3; }
    &--24 { background-image: url(../img/24.jpg); grid-row: span 3; }
}


}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #1a1a1a, #636363);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #414141, #939393);
}

