@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button-style($bg-color, $text-color, $width, $height, $font-size, $font-weight, $border-radius: 8px) {
    width: $width;
    height: $height;
    background-color: $bg-color;
    border: none;
    color: $text-color;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: $font-size;
    font-weight: $font-weight;
}