$color-white: #ffffff;
$color-black: black;
$color-primary: #473BF0;
$color-secondary: #68D585;
$color-text-dark: #111111;
$color-text-medium: #5B606C;
$color-text-light: #6b7280;
$color-text-header: #e6eef8;
$color-bg-light: #F4F7FA;
$color-bg-dark: #161C2D;
$color-border-light: #E7E9ED;
$color-border-hr: #E7E8ED;
$color-popular-subtitle: #7a7e87;
$color-faq-text: #FBFBFB;
$color-subscribe-bg: #f3f6f8;
$color-subscribe-border: #e6e6e6;

$font-family-base: 'Inter', sans-serif;
$font-size-base: 14px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$size-width-container-lg: 1500px;
$size-padding-inner: 24px 40px;
$size-margin-section-top: 90px;
$size-margin-section-top-lg: 100px;
$size-margin-section-bottom-lg: 120px;
$size-padding-faq: 0 40px;
$size-hero-form-width: 770px;
$size-hero-form-height: 95px;
$size-hero-input-width: 250px;
$size-hero-input-height: 50px;
$size-hero-btn-width: 200px;
$size-hero-btn-height: 50px;
$size-popular-img-width: 350px;
$size-popular-img-height: 469px;
$size-work-height: 698px;
$size-work-image-l-width: 520px;
$size-work-image-l-height: 600px;
$size-work-image-r-width: 480px;
$size-work-image-r-height: 670px;
$size-faq-height: 795px;
$size-faq-card-width: 540px;
$size-faq-card-height: 447px;
$size-subscribe-input-width: 369px;
$size-subscribe-input-height: 59px;