@use 'variables' as vars;
@use 'mixins' as mixins;
@use 'fonts';

body {
   margin: 0;
}


.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1440px;
   margin: 0 auto;   
   padding: 22px 165px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: rgba(#fff, 0.9);
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 13px 1px;
   animation: appearFromTop 0.6s;
   z-index: 99999;

&_logo {
   flex-shrink: 0;
}

&_links {
   display: flex;
   align-items: center;
   gap: 32px;
   margin-left: 60px;

   &_link {
      font-family: vars.$font-heading;
      font-style: normal;
      font-weight: 700;
      font-size: vars.$textmain-size;
      line-height: vars.$textmain-line;
      color: vars.$color-dim-grey;
      text-decoration: none;
      margin-top: 4px;
      font-family: "Space Mono", monospace;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.6s;

      &:hover {
         color: vars.$color-yellow;
      }
   }
}

&_right {
   flex-shrink: 0;
   margin-left: auto;

&_button {
   @include mixins.btn-normal;

   &:hover {
      @include mixins.btn-hover; 
   }
}
}
}

.hero {
   position: relative;
   width: 100%;
   min-height: 650px;
   display: flex;
   align-items: center;
   overflow: hidden;
   height: 650px;

&_background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../images/hero-bg.jpg');
   background-color: vars.$color-dark-navy; 
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   z-index: 1;

&_overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: vars.$color-hero-overlay;
   z-index: 2;
}
}

&_content {
   position: relative;
   z-index: 3;
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   padding: 0 165px;
   display: flex;
   align-items: center;
   justify-content: space-between;

&_accent {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 200px;
   height: 15px;
   background-color: vars.$color-yellow;
   z-index: 4;
}

&_text {
   position: relative;
   z-index: 3;
   left: 100px;
   max-width: 500px;
   color: vars.$color-white;

&_title {
   position: relative;
   z-index: 3;
   right: 100px;
   font-family: vars.$font-heading;
   font-style: normal;
   font-weight: 700;
   font-size: vars.$h1-size;
   line-height: vars.$h1-line;
   letter-spacing: vars.$h1-spacing;
   color: vars.$color-white;
   margin: 0 0 40px 0;
}

&_wrapper {
   margin-bottom: 40px;
}

&_description {
   font-family: vars.$font-body;
   font-style: normal;
   font-weight: 400;
   font-size: vars.$textmain-size;
   line-height: vars.$textmain-line;
   color: vars.$color-white;
   margin: 0;
}

&_button {
   @include mixins.btn-normal;
   cursor: pointer;
   margin-top: 0;

   &:hover {
      @include mixins.btn-hover;
   }
}
}

&_decorative-line {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 800px;
   height: 300px;
   z-index: 2;
   pointer-events: none;
   overflow: visible;

&_svg {
   width: 100%;
   height: 100%;
}
}
}

&_decorative-arrow_svg {
   position: relative;
   right: 185px;
   top: 170px;
   transform: translateY(-50%);
   z-index: 2;
}

&_navigation {
   position: absolute;
   bottom: 40px;
   right: 165px;
   z-index: 3;
   display: flex;
   gap: 16px;
   align-items: center;

&_dot {
   width: 62px;
   height: 62px;
   border-radius: 50%;
   border: 2px solid vars.$color-white;
   background-color: transparent;
   cursor: pointer;
   transition: background-color 0.3s;

&--active {
   background-color: vars.$color-white;
}
}
}
}

.how-it-works {
   width: 100%;
   background-color: vars.$color-white;
   padding: 120px 0;
   position: relative;

&_line {
   position: absolute;
   top: calc(120px + 48px);
   left: 0;
   width: 974px;
   height: 15px;
   background-color: vars.$color-light-grey;
   z-index: 1;
}

&_container {
   max-width: 1440px;
   margin: 0;
   padding: 0 165px;
   position: relative;

   &_steps {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
      position: relative;
      z-index: 2;
   }
}

&_steps_item {
   flex: 0 0 auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   text-align: left;
   max-width: 350px;

   &_circle {
   width: 96px;
   height: 96px;
   border-radius: 50%;
   background-color: vars.$color-yellow;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 40px;
   position: relative;
   z-index: 3;

      &_icon {
         width: 100%;
         height: 100%;
      }
   }

      &_title {
      font-family: vars.$font-heading;
      font-style: normal;
      font-weight: 700;
      font-size: vars.$h4-size;
      line-height: vars.$h4-line;
      letter-spacing: vars.$h4-spacing;
      color: vars.$color-dark-navy;
      margin: 0 0 27px 0;
   }

   &_description {
      font-family: vars.$font-body;
      font-style: normal;
      font-weight: 400;
      font-size: vars.$textmain-size;
      line-height: vars.$textmain-line;
      color: vars.$color-dim-grey;
      margin: 0;
   }
}
}

.features {
   min-height: 1800px;
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding: 120px 165px;
   background-color: vars.$color-white;

&_item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 160px;
   gap: 60px;

   &:last-child {
      margin-bottom: 0;
   }

   &--reverse {
      flex-direction: row-reverse;
   }

   &_content {
      flex: 1;
      max-width: 445px;

      &_title {
         font-family: vars.$font-heading;
         font-style: normal;
         font-weight: 700;
         font-size: vars.$h2-size;
         line-height: vars.$h2h3-line;
         letter-spacing: vars.$h2-spacing;
         color: vars.$color-dark-navy;
         margin: 0 0 24px 0;
      }

      &_description {
         font-family: vars.$font-body;
         font-style: normal;
         font-weight: 400;
         font-size: vars.$textmain-size;
         line-height: vars.$textmain-line;
         color: vars.$color-dim-grey;
         margin: 0 0 40px 0;
      }

      &_button {
         @include mixins.btn-normal;
         cursor: pointer;

         &:hover {
            @include mixins.btn-hover;
         }
      }
   }

   &_image-wrapper {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &_grey-circle {
         position: absolute;
         width: 445px;
         height: 445px;
         border-radius: 50%;
         background-color: vars.$color-light-grey;
         z-index: 1;
         right: -250px;

         &--left {
            right: auto;
            left: -250px;
         }
      }

      &_circle {
         width: 445px;
         height: 445px;
         border-radius: 50%;
         overflow: visible;
         position: relative;
         z-index: 2;
      }

      &_image {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 50%;
      }

      &_decorative {
         position: absolute;
         z-index: 3;
         pointer-events: none;
         bottom: -50px;
         right: -150px;

         &_svg {
            width: 741px;
            height: 151px;
         }

         &--reverse {
            bottom: auto;
            top: 17%;
            transform: translateY(-50%);
            right: auto;
            left: -300px;

            &_svg {
               width: 356px;
               height: 151px;
            }
         }
      }
   }
}
}

.second_section {
   position: relative;
   right: 250px;
}

.page__footer{
    margin-top: -8%;
}
.page__footer-section{
    &-signup{
        display: flex;
        background-color: vars.$color-dark-navy;
        background-image: url('../imgs/circlesfooter.svg');
        background-repeat: no-repeat;
        background-position: right bottom;  
        align-items: center;
        justify-content: space-between;
        padding-top: 10%;
        padding-bottom: 10%;
         height: 40px;

        &-title{
            @include mixins.h2-text;
            color: #FFFFFF;
            padding-left: 10%;
            max-width: 415px;
        }
        &-app{
            display: flex;
            flex-direction: row;
            padding-left: 15%;
            gap: 20px;
            &-apple{
                flex: 1;
                transition: 0.2s;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
            &-android{
                flex:1;
                transition: 0.2s;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }

}
.page__footer{
   
    &-under{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 35px 100px; 
    background-color: vars.$color-footer; 
    &-logo {
        height: 24px; 
        margin-right: 58px;
        flex: 1;
    }
    &-btns {
        flex: 4;
        &-left {
            font-family: vars.$font-heading;
            font-style: normal;
            font-weight: 700;
            font-size: vars.$textmain-size;
            line-height: vars.$textmain-line;
            color: vars.$color-dim-grey;
            text-decoration: none;
            margin-right: 32px; 
        }
    }
        &-socials{
            flex: 1;
            transition: all 0.5s;

             &-fb {
             margin-right: 15px;
             transition: 0.5s;
            }
            
            &-instagram {
               margin-left: 15px;
            }

        }
    }
}

.page__footer {
   height: 396px;
}
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:  #FCB72B;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.scroll-top-btn:hover {
  background-color: #f7c96d;
  transform: scale(1.1);
}

html {
  scroll-behavior: smooth;
}