:root {
  --color-bg: #F5EBEB;
  --color-primary: #D5B4B4;
  --color-secondary: #E4D0D0;
  --color-accent: #867070;
  --color-text: #443232;
  --color-light: #ffffff;
  --color-muted: #6f6f6f;

  --font-family-main: 'Montserrat', sans-serif;

  --header-padding-y: 20px;
  --header-padding-x: 40px;
  --main-padding: 30px 50px;
  --section-gap: 40px;
  --border-radius: 10px;

  --font-size-base: 18px;
  --font-size-heading: 26px;
  --font-size-subheading: 20px;
  --font-size-small: 14px;

  --shadow: 0 0 10px #674c4c66;
  --transition: 0.3s;

  --button-size: 20px;
  --button-lenght: 60px;
  --button-font-size: 32px;
  --button-font-size-smaller: 24px;
  --button-lenght-smaller: 46px;
}
