@import url(./_fonts.scss);
@import url(./_mixins.scss);
@import url(./_variables.scss);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;

    &__bg {
        position: absolute;
        width: $size-width-container-lg;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 24px 40px;
    }

    &__logo {
        color: $color-white;
        font-size: 24px;
        font-weight: $font-weight-bold;
        margin-top: 25px;
        margin-left: 245px;
    }

    &__nav {
        display: flex;
        gap: 30px;
        margin-top: 25px;
        margin-right: 245px;
        width: 333px;
        text-align: center;

        &-item {
            color: $color-white;
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
            text-decoration: none;
        }
    }
}

.hero {
    position: relative;
    @include flex-col-center;
    width: 100%;
    margin-top: 200px;
    text-align: center;

    &__subtitle {
        color: $color-secondary;
        font-size: 13px;
    }

    &__title {
        color: $color-white;
        font-size: 60px;
        font-weight: $font-weight-bold;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 44px;
        width: 745px;
    }

    &__form-main {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 20px;
        margin-left: 11px;
        width: $size-hero-form-width;
        height: $size-hero-form-height;
        border-radius: 10px;
        background-color: $color-white;
    }

    &__form {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__field-location,
    &__field-date {
        display: flex;
        align-items: center;
        width: $size-hero-input-width;
        height: $size-hero-input-height;
        background-color: $color-white;
        border: 1px solid $color-border-light;
        border-radius: 8px;
        margin-left: 7px;
        font-size: 15px;
        font-weight: $font-weight-regular;
        color: $color-black;
    }

    &__icon-location,
    &__icon-date {
        width: 30px;
        height: 30px;
        margin-left: 9px;
        margin-right: 7px;
    }

    &__down-date {
        width: 18px;
        height: 18px;
        margin-left: 90px;
    }

    &__down-location {
        width: 18px;
        height: 18px;
        margin-left: 60px;
    }

    &__btn {
        @include button-style($color-primary, $color-white, $size-hero-btn-width, $size-hero-btn-height, 17px, $font-weight-bold);
    }

    &__tour {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        color: $color-text-header;
        font-size: $font-size-base;
        margin-top: 41px;
        gap: 8px;

        &-text {
            color: $color-text-header;
            font-size: $font-size-base;
        }
    }

    &__video {
        width: 18px;
        height: 18px;
    }

    &__scroll {
        width: 40px;
        height: 40px;
        @include flex-center;
        margin-top: 170px;
    }
}

.stats {
    background-color: $color-white;
    width: 100%;
    margin-top: $size-margin-section-top;
    display: flex;
    justify-content: center;

    &__inner {
        @include flex-center;
        width: 100%;
        gap: 32px;
    }

    &__col {
        @include flex-col-center;
        width: 33%;
    }

    &__number {
        font-size: 36px;
        font-weight: $font-weight-bold;
        margin-top: $size-margin-section-top;
        display: flex;
        justify-content: center;
        gap: 70px;
    }

    &__text {
        font-size: $font-size-base;
        color: $color-text-medium;
        text-align: center;
        width: 262px;
        line-height: 32px;
        margin-top: 18px;
    }
}

.horisontal {
    width: 100%;
    margin-top: 50px;
    border: 1px solid $color-border-hr;
}

.popular {
    width: 100%;
    background-color: $color-white;

    &__img {
        width: $size-popular-img-width;
        height: $size-popular-img-height;
        gap: 10px;
    }

    &__header {
        text-align: center;
        margin: 0 0 24px 0;
    }

    &__title {
        font-size: 48px;
        font-weight: $font-weight-bold;
        margin-top: $size-margin-section-top-lg;
    }

    &__subtitle {
        font-size: 16px;
        margin-top: 20px;
        color: $color-popular-subtitle;
        width: 468px;
        margin-left: 510px;
    }

    &__list {
        display: flex;
        @include flex-center;
        margin-top: 84px;
        margin-left: 200px;
        width: 1100px;
        gap: 40px;
    }

    &__card {
        @include flex-col-center;
    }

    &__name {
        font-size: 24px;
        font-weight: $font-weight-bold;
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }

    &__seats {
        font-size: 12px;
        color: $color-text-light;
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }
}

.work {
    height: $size-work-height;
    width: $size-width-container-lg;
    background-color: $color-bg-light;
    margin-top: $size-margin-section-bottom-lg;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-start;
    }

    &__left {
        margin-left: 245px;
        margin-top: $size-margin-section-top-lg;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        font-size: 36px;
        font-weight: $font-weight-bold;
        width: 500px;
        line-height: 44px;
    }

    &__subtitle {
        font-size: $font-size-base;
        color: $color-text-light;
        width: 400px;
        margin: 0;
        line-height: 24px;
    }
}

.two-images {
    display: flex;
    justify-content: center;
    gap: 70px;
    position: absolute;
}

.col-left img {
    border-radius: 20px;
    margin-top: $size-margin-section-top-lg;
    margin-left: 240px;
    width: $size-work-image-l-width;
    height: $size-work-image-l-height;
}

.col-right img {
    width: $size-work-image-r-width;
    height: $size-work-image-r-height;
    height: auto;
    border-radius: 20px;
    margin-top: -150px;
}


.features {
    width: 100%;
    margin-top: 300px;
    padding: 32px 0;
    background-color: $color-white;

    &__inner {
        display: flex;
        @include flex-center;
        text-align: center;
        padding: 0 40px;
        gap: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        text-align: left;
        margin-top: 120px;
        margin-left: 0px;
        line-height: 29px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-top: 30px;
        margin-right: 0px;
    }

    &__title {
        font-size: 20px;
        font-weight: $font-weight-bold;
        width: 100%;
        margin-bottom: 17px;
    }

    &__undertitle {
        font-size: 15px;
        color: $color-text-light;
        width: 279px;
        margin-top: 10px;
    }
}

.faq {
    width: 100%;
    height: $size-faq-height;
    background-color: $color-bg-dark;
    margin-top: 118px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: $size-padding-faq;
        color: $color-white;
        align-items: center;
    }

    &__left {
        width: 469px;
        margin-left: 150px;
    }

    &__title {
        font-size: 48px;
        font-weight: $font-weight-bold;
        margin-top: 150px;
        width: 460px;
    }

    &__points {
        display: flex;
        margin-top: 140px;
        flex-direction: column;
    }

    &__point-1,
    &__point-2 {
        gap: 12px;
        text-align: left;
        width: 390px;
        margin-left: 50px;
    }
    
    &__point-2 {
        margin-top: 60px;
    }

    &__point-icon-1,
    &__point-icon-2 {
        width: 30px;
        height: 30px;
        position: absolute;
    }
    
    &__point-icon-2 {
        margin-top: 140px;
    }

    &__point-title {
        font-size: 18px;
        font-weight: $font-weight-bold;
        color: $color-white;
        text-align: left;
    }

    &__point-text {
        font-size: $font-size-base;
        color: $color-faq-text;
        width: 300px;
        line-height: 24px;
        opacity: 0.65;
        margin-top: 11px;
    }

    &__right {
        display: flex;
        justify-content: center;
    }

    &__card {
        width: $size-faq-card-width;
        height: $size-faq-card-height;
        background-color: $color-white;
        color: $color-text-dark;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 190px;
        margin-right: 50px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &__row-1 {
        font-size: 18px;
        font-weight: $font-weight-bold;
        width: 100%;
        margin-top: 28px;
        margin-left: 28px;
    }

    &__row-subtitle {
        font-size: $font-size-base;
        color: $color-text-light;
        width: 456px;
        line-height: 24px;
        margin-left: 28px;
        margin-top: 17px;
    }

    &__hr-1 {
        width: 477px;
        margin-top: 24px;
        border: 1px solid $color-border-hr;
        margin-left: 28px;
    }

    &__hr {
        width: 477px;
        margin-top: 35px;
        border: 1px solid $color-border-hr;
        margin-left: 28px;
    }

    &__row-2,
    &__row-3,
    &__row-4 {
        font-size: 18px;
        font-weight: $font-weight-bold;
        width: 100%;
        margin-top: 25px;
        margin-left: 28px;
    }

    &__arrow-right {
        width: 12px;
        height: 12px;
        margin-top: -27px;
        margin-left: 450px;
    }

    &__arrow {
        width: 6px;
        height: 6px;
        margin-top: -20px;
        margin-left: 450px;
    }
}


.subscribe {
    width: 100%;
    padding: 48px 0;
    background-color: $color-subscribe-bg;

    &__inner {
        width: 100%;
        @include flex-col-center;
        text-align: center;
        padding: 0 40px;
        margin-bottom: 70px;
    }

    &__title {
        font-size: 42px;
        font-weight: $font-weight-bold;
        margin-top: 80px;
    }

    &__subtitle {
        font-size: $font-size-base;
        color: $color-text-light;
        margin-top: 16px;
        width: 400px;
        line-height: 24px;
    }

    &__form {
        @include flex-col-center;
        gap: 17px;
        margin-top: 54px;
    }

    &__input {
        width: $size-subscribe-input-width;
        height: $size-subscribe-input-height;
        border: 1px solid $color-subscribe-border;
        border-radius: 8px;
        font-size: $font-size-base;
        outline: none;
        padding-left: 22px;
    }

    &__btn {
        @include button-style($color-primary, $color-white, $size-subscribe-input-width, $size-subscribe-input-height, $font-size-base, $font-weight-semi-bold);
        margin-top: 6px;
    }

    &__text {
        text-align: center;
        width: 365px;
        font-size: 12px;
        color: $color-text-light;
        margin-top: 27px;
    }
}


.footer {
    width: 100%;
    padding: 32px 0;
    background-color: $color-white;
    border-top: 1px solid $color-subscribe-border;

    &__top {
        display: flex;
        justify-content: center;
        margin-left: 60px;
        margin-top: 121px;
        margin-bottom: 120px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 18%;

        &-title {
            font-weight: $font-weight-regular;
            font-size: $font-size-base;
            color: $color-text-light;
            margin-bottom: 20px;
        }
    }

    &__link {
        font-size: 13px;
        color: $color-black;
        line-height: 24px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 22%;
    }

    &__contact-email,
    &__contact-phone {
        font-size: $font-size-base;
        color: $color-primary;
    }

    &__contact-email {
        font-weight: $font-weight-semi-bold;
    }

    &_hr {
        width: 100%;
        border: 1px solid $color-border-hr;
    }

    &__text {
        display: flex;
        flex-direction: row;
    }

    &__copyright {
        font-size: 13px;
        color: $color-text-light;
        margin-top: 18px;
        margin-left: 245px;
    }

    &__socials {
        display: flex;
        flex-direction: row;
        margin-left: 400px;
        margin-top: 18px;
        gap: 12px;
        width: 18px;
        height: 18px;
    }
}